#signup-grid-container {
    display: grid;

    background-color: #F5F7F9;
    justify-items: center;

    width: 100vw;
    height: 100vh;
}

#signup-grid-item {
    /* Grid item properties */
    grid-row: 1 / -1;
    grid-column: 1 / - 1;

    width: 650px;
    padding-top: 48px;
}

@media only screen and (max-width: 805px) {
    #login-grid-container {
        justify-items: center;
        align-items: center;
        align-content: center;
    
        background-color: #F5F7F9;
    }
    
    #signup-grid-item {
        width: 90%;
        min-width: auto;
    }
}
  