body {
    background: #ffffff !important;
}

#import-applicants-grid-container {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(2, 50%);
    grid-row-gap: 20px;
    justify-items: start;
    align-items: center;

    min-width: 1000px;
    margin-left: 40px;
}

#back-button-item {
    grid-column: 1 / 2;
}

#grid-item-1 {
    grid-row: span 1;
    grid-column: 1 / 2;
}

#download-template-item {
    grid-row: span 1;
    grid-column: 1 / 2;
}

#grid-item-3 {
    grid-row: span 1;
    grid-column: 1 / 2;
}

#upload-buttons-item {
    grid-row: span 1;
    grid-column: 1 / 2;

    justify-self: normal;
}

#example-item {
    grid-row: span 1;
    grid-column: 1 / 2;

    margin-top: 60px;
}

#upload-buttons-item div {
    display: flex;
    align-items: baseline;
}

#small-icon {
    width: 24px;
    height: 24px;
}

#example-image {
    max-width: 100%;
    height: auto;
}

#back-button {
    background-color: #ffffff;
    color: #252A31;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
}

#download-template-button {
    background-color: #ffffff;
    color: #00A991;
    border: 0;
    border-radius: 5px;
}

#select-file-button {
    background-color: #E8EDF1;
    color: #252A31;
    padding: 20px;
    border: 0;
    border-radius: 5px;
    min-width: 150px;
}

#upload-file-button {
    background-color: #00A991;
    color: #ffffff;
    padding: 20px;
    border: 0;
    border-radius: 5px;
    min-width: 150px;
}

#upload-text {
    flex-grow: 1;
    margin-left: 20px;

    font-style: italic;
    color: #5F738C;
}

#your-upload-text {
    color: #5F738C;
}

#large {
    font-size: large;
}