#logo-slogan-container {
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 20px;
}

#logo-slogan-container img {
    height: 32px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#logo-slogan-container h6 {
    margin-left: 20px;
}