#uploadphoto {
    /* Grid item properties*/
    grid-row: 2 / span 1;
    grid-column: 3/ span 1;
    width:100%;

    /* font-family: Neue Haas Unica W1G; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    padding: 50px 0px 5px 10px;
}

#add-image {
    width: 25px;
    height: 25px;
    left: calc(50% - 25px/2 + 0.5px);
    top: calc(50% - 25px/2 + 0.5px);

    border-radius: 5px;
    margin: 0px 10px 5px 0px;
}