#table-header-grid-container {
    /* Grid item properties*/
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    height: 100%;
    width: 100%;

    /* Grid container properties */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;

    border-bottom: 1px solid #F2F4F8;
}

.table-header {
    grid-row: 1 / span 1;
    font-weight: bold;
}

/*
Left-align name label in header
*/
#name-header {
    grid-column: 1 / span 1;
    justify-self: start;
    padding-left: 3%;
}

#likes-header {
    grid-column: 2 / span 1;
}

#comments-header {
    grid-column: 3 / span 1;
}

#tags-header {
    grid-column: 4 / span 1;
    justify-self: start;
    padding-left: 10%;
    font-weight: normal;
    color: #697077;
}