#comments-grid-container {
    /* Grid item properties */
    height: 100%;
    width: 100%;

    /* Grid container properties */
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: 10% 10% 70% 10%;
    padding: 10px 0px 15px 0px;
    justify-items: flex-start;
}

.applicant-name-div {
    align-items: flex-start;
    grid-row: 1 / span 1;
    grid-column: 2/ -1;
}

.comment-user-image {
    grid-row: 1 / span 1;
    grid-column: 1/ -1;
    padding: 5px 35px 5px 35px;
    height: 50px;
    border-radius: 50%;
    justify-items: flex-end;
}

.comment-name {
    align-items: flex-start;
    padding: 0px 10px 10px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
}

.comment {
    padding: 0px 10px 10px 0px;
    font-style: normal;
    font-size: 13px;
    line-height: 150%;
}
 
.date {
    grid-row: 2 / span 1;
    grid-column: 3/ span 1;

    font-size: 13px;
    color: #5F738C;
    align-items: flex-start;
    justify-items: flex-start;
}

.like {
    grid-row: 2 / span 1;
    grid-column: 2/ span 1;
    padding: 0px 20px 1px 20px;

    display: flex;
    align-items: center;
    justify-items: flex-end;
    /* align-items: flex-end; */
    /* justify-items: flex-end; */
}

.heart-image {
    margin-right: 10%;
    width: 12px;
    height: 12px;
    /* padding: 0px 2px 0px 2px; */
}

.comment-like {
    padding: 0px 5px 0px 5px;
    font-size: 12px;
}