#table-row-grid-container {
    /* Grid item properties */
    height: 100%;
    width: 100%;

    /* Grid container properties */
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 2px 74px 30px 74px;
    justify-items: flex-start;
    align-items: center; */
}

#table-row-grid-container:hover {
    background-color: #F8F8F8;
}

/* .table-data-cell {
    display: flex;
    align-items: center;
} */

.name-div-home {
    padding-left: 3%;
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

.likes-div-home {
    margin-right: 30px;
    flex-grow: 0;
    flex-shrink: 0;
}

.comments-div-home {
    flex-grow: 0;
    flex-shrink: 0;
}

.empty-td {
    flex-basis: 30px;
    max-width: 100px;
    flex-grow: 1;
    flex-shrink: 1;
}

.applicant-image {
    height: 25px;
    border-radius: 50%;
}

.applicant-name {
    margin-left: 3%;
}

.heart-icon, .comment-icon {
    margin-right: 10%;
    width: 16px;
    height: 16px;
}