#filter-flex-container {
    height: 44px;
    width: 44px;
    margin-left: 20px;
    border: 1px solid #E8EDF1;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#filter-icon {
    height: 12px;
}