#applicant-table-body-grid-container {
    /* Grid container proprties */
    display: grid;
    grid-auto-rows: minmax(75px, auto);

    height: 100%;
    width: 100%;

    overflow-x: scroll;
    /* overflow-y: scroll; */

    justify-items: center;
    align-items: center;
}