.signup-container {
    background-color: white;
    border: 1px solid transparent;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(37, 42, 49, 0.16), 0px 8px 24px rgba(37, 42, 49, 0.24);
    border-radius: 3px;
}

.signup-card {
    margin: 36px 30px;
}

.row {
    grid-row: span 1;
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: repeat(2, 280px);
    grid-column-gap: 30px;
    align-items: center;
    justify-items: center;
}

.column {
    /* grid-row: span 1; */
    grid-column: span 1;

    width: 100%;  
    padding-top: 3%;
}

.submit {
    float: right !important;
    padding-left: 10% !important;
    border-radius: 20px !important;
    padding-bottom: 10px;
}

@media only screen and (max-width: 805px) {
    .row {
        grid-row: span 1;
        grid-column: 1 / span 2;
    
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 30px;
        align-items: center;
        justify-items: center;
    }

    .column {
        grid-column: span 1;
    
        width: 100%;  
        padding-top: 3%;
    }
}
