.signup-card {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(225 222 222);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    width: flex;
}

.signup-container {
    text-align: left;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent !important;
    align-items: center;
}

.set-up-account{
    margin-bottom: 10%;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: left;
    color: #121619;
}


.instructions{
    font-size: 14px;
    line-height: 150%;
    color: #121619;
    width: 100%;
    text-align: left;
}

.instructionsColumn{
    width:90%;
    margin-top: 10%;
}

.column{
    width: 43%;
    padding-top: 3%;
    margin-left:7%;
}

.name{
    margin-bottom: 20%;
    font-size: 30px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #121619;
    font-weight: bold;
}

.helper{
    padding-top: 1.5%;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #697077;
}

.adminSignUp{
    padding-top: 8%;
    font-size: 12px;
    line-height: 150%;
    color: #121619;
    text-align: left !important;
    width: 100%;
}

.signupLink{
    padding-top: 11%;
    font-size: 12px;
    line-height: 150%;
    color: #007F6D;
    text-align: left !important;
    font-weight: normal;
    text-decoration: underline;
}

.submit{
    float: right !important;
    padding-left: 10% !important;
    border-radius: 20px !important;
}

/* input[type=submit] {
    float:right !important;
} */

.welcome-text {
    text-align: left;
    color: black !important;
    /* font-weight: 300;
    font-size: 30px; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
}

.forgot-text {
color: #3e88ef !important;
font-size: 15px;
}

.forgot-text:hover {
color: #2e6cc3 !important;
}

.signup-btn {
background-color: #3e88ef !important;
font-weight: 400;
margin-top: 1em !important;
}

.signup-btn:hover {
background-color: #2e6cc3 !important;
}

.invalid-credentials-container {
align-items: center;
justify-content: center;
color: #e44e4e;
font-size: 15px;
padding-top: 10px;
}

.alert-icon-container {
padding-right: 5px;
}
