body {
  background: #ffffff !important;
}

#manage-applicant-grid-container {
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 100%;
  justify-items: start;
  align-items: center;

  min-width: 1000px;
  min-height: 1000px;
  height: 100vh;
}