#member-search-grid-item {
    background-color: rgba(239, 242, 245, 0.5);
    padding-bottom: 1%;
}

#member-search-flex-container {
    /* Flexbox container properties */
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
}

#member-search-flex-container > div{
    padding: 1%;
    padding-bottom: 0%;
}