#profile-side-bar-item {
    margin: 30px 20px 20px 30px;
    display: flex;
}

#profile-image {
    display: block;
    height: 25px;
    border-radius: 50%;
    margin: 0px 15px 0px 0px;
    cursor: pointer;
}

#applicants-to-profile-link {
    display: flex;
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.color-side-bar-nav-text{
    color: #00A991
}

.fill-test-side-nav-bar{
    fill:#00A991
}

.side-nav-bar-item-text{
    margin-top: 3px;
}