#home-filter-card-container {
  display: flex;
  min-width: 340px;
  max-height: 360px;

  position: fixed;
  margin-top: 20px;
  margin-left: -46px;

  background-color: white;
  box-shadow: 0px 4px 8px rgba(37, 42, 49, 0.16), 0px 8px 24px rgba(37, 42, 49, 0.24);
  border-radius: 3px;
  
  overflow-y: scroll;
}

#home-filter-card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: 100%;
  row-gap: 12px;

  margin: 20px 16px;
}

#filter-card-tags-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  width: 100%;
}

#filter-card-header-text {
  font-size: 16px;
  margin: 0;
}

#filter-row-header-text {
  color: #5F738C;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
}

#filter-card-row-header {
  width: inherit;
  display: flex;
  
  padding-top: 20px;
}

#filter-card-row {
  width: inherit;
  display: flex;
  align-items: center;
}

#filter-card-row-label {
  flex-grow: 1;

  font-size: 13px;
}

#filter-card-footer-buttons {
  display: flex;
  align-self: flex-end;

  padding-top: 30px;
  padding-bottom: 10px;
}

#filter-card-back-button {
  margin-right: 10px;
}

#filter-card-add-filter-button {

}
