#login-card-container {
    background-color: #ffffff;
    border-radius: 20px;

    width: 100%;

    border: 1px solid transparent;

    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.19);
}

#login-card-content {
    margin: 5% 10%;
}

#create-account-label {
    margin-top: 10%;
}

.sign-up-link {
    color: #00A991;
}