#forgot-password-card-container {
    background-color: #ffffff;
    border-radius: 5px;

    width: 100%;

    border: 1px solid transparent;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.19);
}

#forgot-password-card-content {
    margin: 5% 10%;
}

#back-button {
    display: inline-block;
    margin-bottom: 40px;
    color: #00A991;
}