#like-info-bar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    position: relative;
    width: 85px;
    height: 44px;
    top: 26px;
}

#applicant-action-like-image {
    width: 30px;
    height: 30px;
    left: calc(50% - 30px/2 + 0.5px);
    top: calc(50% - 30px/2 + 0.5px);
    
    margin: 5px 10px 5px 10px;
}

#applicant-action-like-text {
    display: flex;
    align-items: center;
    
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
}