#applicantinfobar {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
    
    position: absolute;
    left: 175px;
    top: 0px;
    width: 101%;
    height: 96px;

    /* justify-items: right;
    align-items: center; */

    display: grid;
    grid-template-rows: 44px auto;
    grid-template-columns: 256px auto;

    border-bottom: 2px solid #E8EDF1;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.6);
}