#applicantinfobar {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;

    /* display: grid;
    grid-template-rows: 96px auto;
    grid-template-columns: 65% 35%; */
    
    position: absolute;
    left: 175px;
    top: 0px;

    /* TODO: figure out large monitor */
    width: 88%;
    height: 96px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 2px solid #E8EDF1;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(30px);
}

#applicant-action-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}