#applicantinfobar {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
    
    position: absolute;
    left: 175px;
    top: 0px;
    width: 101%;
    height: 96px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 2px solid #E8EDF1;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.6);
}