#comment-section-grid-container {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;

    width: 600px;
    /* TODO: set limit based on inspect case */
    height: 556px;
    padding-left: 31px;
    padding-top: 24px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    overflow-y: scroll;
}

#no-comments-container {
    position: absolute;
    width: 283px;
    height: 319px;
    left: 391px;
    top: 200px;
}

.no-comments {
    position: absolute;
    right: 1.06%;
    bottom: 12.23%;
    left: 0%;
    top: 0%;

    width: 280px;
    height: 280px;
}

#no-comments-text {
    position: absolute;
    left: 4.59%;
    top: 87.77%;
    bottom: 5.96%;
    right: 0%;

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    text-align: center;

    color: #252A31;
}