#comments-grid-container {
    position: static;
    width: 620px;
    /* TODO: FIX to adjust based on comment size */
    /* height: 59px; */
    left: 0px;

    margin: 10px 0px 32px 0px;
    display: flex;
    flex-direction: row;
}

#comment-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    /* position: absolute; */
    width: 550px;
    /* height: 59px; */
}

.comment-user-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 36px;
    height: 36px;
    border-radius: 20px;
}

#comment-info-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    left: 100px;
    width: 416px;
    /* TODO FIX for varied height */
    /* height: 59px; */
}

#comment-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 446px;
    /* height: 59px; */

    /* TODO, look into this and figure out why it's not */
    margin: -4px 30px; 
}

#comment-additional-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

.comment-name {
    align-items: flex-start;
    padding: 0px 10px 10px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
}

.comment {
    padding: 0px 10px 10px 0px;
    font-style: normal;
    font-size: 13px;
    line-height: 135%;
    color: #252A31;
}
 
#date {
    font-size: 11px;
    color: #5F738C;

    position: static;
    margin: 0px 24px;
}

#like {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    margin: 4px 0px;
}

#comment-heart-image {
    width: 20px;
    height: 20px;
}

.comment-like {
    padding: 0px 5px 0px 5px;
    font-size: 11px;
}

.comment-date {
    font-size: 11px;
    color: #5F738C;
}

#comment-delete {
    left: 100;
    /* position: fixed; */
}