#comments-grid-container {
    position: static;
    width: 550px;
    /* TODO: FIX to adjust based on comment size */
    height: 59px;
    left: 0px;

    margin: 0px 0px 32px 0px;
}

#comment-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    /* position: absolute; */
    width: 550px;
    height: 59px;
}

.comment-user-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 36px;
    height: 36px;
    border-radius: 20px;
}

#comment-info-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    left: 100px;
    width: 416px;
    /* TODO FIX for varied height */
    height: 59px;
}

#comment-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 446px;
    height: 59px;


    /* TODO, look into this and figure out why it's not */
    margin: -4px 30px; 
}

.comment-name {
    align-items: flex-start;
    padding: 0px 10px 10px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 125%;
}

.comment {
    padding: 0px 10px 10px 0px;
    font-style: normal;
    font-size: 13px;
    line-height: 125%;
}
 
.date {
    grid-row: 2 / span 1;
    grid-column: 3/ span 1;

    font-size: 13px;
    color: #5F738C;
    align-items: flex-start;
    justify-items: flex-start;
}

#like {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    margin: 4px 0px;
}

.comment-heart-image {
    width: 12px;
    height: 12px;
}

.comment-like {
    padding: 0px 5px 0px 5px;
    font-size: 11px;
}