#table-toolbar-grid-item {
    /* Flexbox container properties */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;

    background-color: rgba(239, 242, 245, 0.5);
}
