#showing-x-applicants {
    /* Grid item properties */
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;

    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: rgba(239, 242, 245, 0.5);
}