#member-search-flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#member-search-flex-container > div:last-of-type {
    margin-left: auto;
}

#member-search-flex-container > div {
    padding: 15px;
    /* padding-bottom: 0%; */
}

.member-search-container-text{
    /* margin-top: .75%; */
    color: #252A31;
    font-size: 13px;
    /* line-height: 150%; */
}

#generateOrgCodeAdminSectionMember{
    font-weight: 500;
    font-size: 11px;
    /* line-height: 150%; */
    text-decoration-line: underline;
    color: #252A31;
}