.changePassword-container {
    background-color: white;
    border: 1px solid transparent;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(37, 42, 49, 0.16), 0px 8px 24px rgba(37, 42, 49, 0.24);
    border-radius: 3px;
    position:fixed;
    left: 50%;
    bottom: 50%;
}

.change-password-padding-top{
    padding-top: 6%;
}

.change-password-padding-top-second{
    padding-top: 3%;
    padding-bottom: 6%;
}

#change-password{
    font-weight: normal;
    font-size: 16px;
}

#change-password-label{
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: #252A31;
}

#close-button-change-password{
    cursor: pointer;
}

#change-password-flex-container {
    display: flex;
}

#change-password-flex-container > div:first-of-type {
    margin-right: 5%;
}

.change-password-item{
    width: 50%;
}

#change-password-flex-container > div:last-of-type {
    width: 50%;
    margin-left: auto;
}

#change-password-flex-container > span:last-of-type{
    margin-left:auto;
}