#next-info-bar-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
    width: 147px;
    height: 44px;
    top: 26px;
    left: 16px;
    cursor: pointer;
}

#applicant-action-next-image {
    width: 30px;
    height: 30px;
    left: calc(50% - 30px/2 + 0.5px);
    top: calc(50% - 30px/2 + 0.5px);

    margin: 5px 10px 5px 0px;
}

#applicant-action-next-text {
    display: flex;
    align-items: center;
    
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
}