#next-info-bar-item {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 10px 0px;

   position: absolute;
   width: 147px;
   height: 44px;
   left: 883px;
   top: 26.29px;

   border-radius: 3px;
}

#applicant-action-next-image {
    width: 30px;
    height: 30px;
    left: calc(50% - 30px/2 + 0.5px);
    top: calc(50% - 30px/2 + 0.5px);

    margin: 5px 10px 5px 0px;
}

#applicant-action-next-text {
    display: flex;
    align-items: center;
    
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
}