#applicant-grid-container {
    display: grid;
    grid-template-rows: 96px 70% 81px;
    /* grid-template-columns: 65% 35%; */

    width: 100%;
    height: 100vh;

    background-color: #FFFFFF;
}

#applicant-side-features-container {
    grid-row: 2 / span 1;
    /* grid-column: 2 / span 1; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    position: absolute;
    left: 955px;
    top: 125px;
    
    /* left: 791px;
    top: 24px; */
    width: 280px;
    height: 256px;
}