#login-grid-container {
    display: grid;

    background-color: #F5F7F9;
    justify-items: center;

    width: 100vw;
    height: 100vh;
}

#login-grid-item {
    /* Grid item properties */
    grid-row: 1 / -1;
    grid-column: 1 / - 1;
    
    width: 450px;
    padding-top: 48px;
}

@media only screen and (max-width: 600px) {
    #login-grid-container {
        justify-items: center;
    
        background-color: #F5F7F9;
    }
    
    #login-grid-item {
        min-width: 77%;
    }
}