#login-grid-container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;

    justify-items: center;
    align-items: center;
    align-content: center;

    background-color: #F5F7F9;
}

#login-grid-item {
    /* Grid item properties */
    grid-row: 1 / -1;
    grid-column: 1 / - 1;
    min-width: 600px;
}