#forgot-password-grid-container {
    display: grid;

    background-color: #F5F7F9;
    justify-items: center;

    width: 100vw;
    height: 100vh;
}

#forgot-password-grid-item {
    /* Grid item properties */
    grid-row: 1 / -1;
    grid-column: 1 / - 1;

    width: 650px;
    padding-top: 48px;
}