#search-bar-flex-container {
    display: flex;
    justify-content: start;
    align-items: center;

    width: 50%;
    height: 44px;

    background-color: rgba(242, 244, 248, 0.4);
    border-radius: 10px;
}

#search-bar-textbox {
    margin-left: 5px;
    border: 0px;

    width: 85%;

    background-color: rgba(242, 244, 248, 0.4);
}

#search-icon {
    width: 14px;
    height: 14px;

    margin-left: 10px;
}