.label-input-container {
    margin: 5% 0%;
}

#login-card-content input {
    width: 100%;
}

#sign-up-links {
    display: flex;
}

#sign-up-admin {
    margin-left: 10px;
} 

.invalid-credentials {
    color: red;
}

#reset-password-container {
    text-align: right;
    margin-bottom: 20px;
}

#reset-password-container a {
    color: #00A991;
}

#login-button {
    width: 100%;
}