#sign-up-links {
    display: flex;
}

#sign-up-admin {
    margin-left: 10px;
} 

.invalid-credentials {
    color: red;
}

#reset-password-container {
    text-align: right;
    margin-bottom: 20px;
}

#reset-password-container a {
    color: #00A991;
}