#toolbar-filter-flex-container {
    height: 44px;
    width: 44px;
    margin-left: 3%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#toolbar-filter-icon {
    height: 12px;
}