#manage-table-row-grid-container {
    /* Grid item properties */
    height: 100%;
    width: 100%;

    /* Grid container properties */
    display: grid;
    grid-template-columns: 98px 255px minmax(30px, 230px) 104px 178px 104px 104px;
    
    justify-items: flex-start;
    align-items: center;
}

#manage-table-row-grid-container:hover {
    background-color: #F8F8F8;
}

.manage-table-data-cell {
    grid-column: span 1;
    display: flex;
    align-items: center;
}

.manage-checkbox-div {
    justify-self: center;
}

.select-checkbox {
    height: 20px;
    width: 20px
}

.manage-name-div {
    width: 100%;
}

.manage-applicant-image {
    height: 25px;
    border-radius: 50%;
}

.manage-applicant-name {
    /* margin-left: 3%; */
}

.manage-row-item {
    font-size: 13px;
}